<strong>Olá, {{ deliveryman }}!</strong>
<p>Houve um cancelamento de entrega!</p>
<p>Detalhe do cancelamento:</p>
<p>
  <strong>Identificador da Entrega: </strong> {{ id }} <br />
  <strong>Cliente:</strong> {{ recipient }} <br />
  <strong>Data do cancelamento: </strong> {{ date }} <br />
  <small style="color: #ff0000;">
    Caso tenha retirado a encomenda, a mesma deve ser devolvida na sede da empresa.
  </small>
</p>
